  <ng-container *ngIf="key">
    <div *ngFor="let property of displayedProperties; let i = index; trackBy: trackByPropertyId" class="property-card">
      <div class="map-section">
        <app-map [lat]="property.lat" [lng]="property.lng" [uniqueId]="'map' + i + '_' + key"></app-map>
      </div>
  
      <div class="details-section">
        <h4 style="color: cornflowerblue;">{{property['Descripción']}}</h4>
        <div class="price-details">
          <span class="valor-subasta">{{ formatNumber(property['Valor subasta']) }} €</span>
          <span class="cantidad-reclamada">{{ formatNumber(property['Cantidad reclamada']) }} €</span>
          <span class="descuento">{{ property.discount }}%</span>
        </div>
        <p class="informacion">{{property['Tipo inmueble']}}, situado en {{property['Dirección']}}, {{property['Código
          Postal']}} - {{property.Provincia}}</p>
        <div class="info-subasta-seccion">
          <span class="info-subasta">{{property['Tipo de subasta']}}</span>
          <span class="info-subasta">{{property.codSubasta}}</span>
        </div>
        <!-- <button class="favourite-button">❤️</button> -->
      </div>
    </div>
  </ng-container>
  


  <label>Elementos por página:
    <!-- Este es un elemento de selección desplegable que permite al usuario elegir cuántos elementos desea ver por página. -->
    <select [(ngModel)]="itemsPerPage" (change)="setPage(1)">
      <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
      <!-- Aquí, estamos creando dinámicamente las opciones del desplegable en función de los valores en 'itemsPerPageOptions' -->
      <!-- '[value]="option"' establece el valor del <option> al valor actual del ciclo, y '{{ option }}' muestra ese valor como texto del <option>. -->
    </select>
  </label>


  <!-- Controles de paginación -->
  <div class="pagination-controls">
    <button (click)="setPage(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>
    <!-- La directiva [disabled] desactivará el botón si la condición entre comillas es verdadera. En este caso, si 'currentPage' es 1, el botón "Anterior" se desactivará porque ya estás en la primera página. -->
    <span>Página {{currentPage}} de {{ getCeil(properties.length / itemsPerPage) }}</span>
    <!-- Etiqueta que muestra en qué página te encuentras y cuántas páginas hay en total -->
    <!-- 'currentPage' muestra la página actual y 'getCeil(properties.length / itemsPerPage)' calcula y muestra el número total de páginas. 'getCeil' redondea hacia arriba, asegurando que si hay un número fraccionario de páginas, se redondee a la página completa más cercana. -->
    <button (click)="setPage(currentPage + 1)" [disabled]="currentPage === getCeil(properties.length / itemsPerPage)">Siguiente</button>
  </div>



              
              